<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to this test blog!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            <div>
                <a href="{{ path('nav_welcome') }}">Home</a>
                <a href="{{ path('nav_blog_all') }}">blog</a>
                <a href="{{ path('blog_new') }}">new post</a>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
